body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sidebar {
    width: 225px;
    height: 100vh;
    background: linear-gradient(180deg, #107279, #044748);
    padding: 20px;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;

}


.sidebar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 0px 10px 9px 10px;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;

}

.sidebar-link:hover::before {
    transform: translateX(5px);
    opacity: 1;
}

.sidebar-link:hover,
.sidebar-link.active {
    background-color: #044748;
    color: #ffffff;
}

.logout {
    margin-top: 70px;
    color: #fc0432;
    font-weight: bold;
    padding: 10px;
    background-color: #074b4c;
    border: none;
    margin-right: 78Px;
}

.profile-Image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 0px auto;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: none;
    border: 2px solid white;
    box-shadow: none;
}

.profile-right h4 {
    text-transform: uppercase;
}

.profile-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.profile-right,
.profile-left {
    text-align: center;
    margin-bottom: 20px;
}

.profile-right h4 {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    font-weight: 600;
}

.profile-right p {
    font-size: 13px;
    color: #d0f0f5;
    margin-top: 4px;
}


.sidebar-nav::after {
    content: '';
    height: 1px;
    background-color: #ffffff33;
    margin: 20px 0;
}

.sidebar-link i {
    margin-right: 8px;
    font-size: 14px;
    vertical-align: middle;
}

.notif-badge {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 20px;
    margin-left: 8px;
    font-weight: bold;
    vertical-align: middle;
}